$black:             #000000;
$nero:              #1a1a1a;
$blackboard:        #212121;

$white:             #FFFFFF;
$whitesmoke:        #F5F5F5;
$whisper:           #EEEEEE;

$coral:             #FD5555;
$teal:              #2AABB9;

$smoke:             #CFCFCF;

$mediumspringgreen: #00FA9A;

$midnightblue:      #191970;
$royalblue:         #4169E1;

$firebrick:         #B22222;
$crimson:           #DC143C;

$errorcolor:        $firebrick;



/*** Colors ***/
$link-color: $whisper;
$primary-color: $coral;
$accent-color: $teal;
