@import "./colors";

/*** Header ***/
$header-height : 65px;
$header-bg-color: $blackboard;
$header-border-bottom: 1px solid $smoke;
$header-logo-width: 45px;
$header-logo-height: 45px;
$header-logo: '../../images/logo.png'
