@import "client/scss/config/breakpoints";

[data-view="folder-list-view"] {
}

[data-container="folder-list-container"]{

    padding: 15px 30px;
    >*{
        width: 100%;
        display: inline-block;
        padding: 15px 0;
    }

    @media #{$medium-and-up}{
       padding: 3% 3%;
       >*{
            width: 50%;
            display: inline-block;
            padding: 3% 3%;
        }
    }

    @media #{$large-and-up}{
        padding: 1.75% 0;
        >*{
            width: 33.33333%;
            display: inline-block;
            padding: 2.5% 2.5%;
        }
    }
}






