[data-view-behaviour="animated-view"] {

}

.animated-view-in {
    animation: fadein 1000ms;
    animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
    animation-fill-mode: both;
}

.animated-view-out {
    animation: fadeout 0ms;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-fill-mode: both;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        position: absolute;
        opacity: 1;
    }
    100% {
        position: absolute;
        opacity: 0;
    }
}
