
@mixin vertical-align {
  display: flex;
  align-items: center;

  .valign {
    display: block;
  }
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

// Positioning
.valign-wrapper {
  @include vertical-align;
}


// Center text on mobile
.center-on-small-only {
  @media #{$small-and-down} {
    text-align: center;
  }
}


