
/* line 1, src/utils/_lists.scss */
.no-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

/* line 10, src/utils/_lists.scss */
.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 14, src/utils/_lists.scss */
.inline-list > * {
  display: inline-block;
  margin: 0 4px;
}
/* line 17, src/utils/_lists.scss */
.inline-list > *:first-child {
  margin-left: 0;
}
/* line 20, src/utils/_lists.scss */
.inline-list > *:last-child {
  margin-right: 0;
}
